
.block {
    padding-top: 1.5em;
    padding-bottom:1.5em;
}
.right {
    transform: scale(-1, 1);
}
.homeMainImg{ //Изображение со студентом (по центру)
   width:256px;
}
a{
    font-size:24px;
    color:forestgreen;
}
h4{
    font-size:22px;
}



.rightMainBlock>span>h2 {
    padding-left:5em;
    text-align:left;
}
.rightMainBlock>span>p{
    padding-left:5em;
    text-align:left;
}
.fa-lightbulb{
color:#feb60a;
margin:0px;
}
.footer>p{
    font-size:14px;
    margin:0;
    padding:0;
}




@media screen and (max-device-width:700px) {
    li{
        text-align:left;
        font-size:12px;
    }
    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    h4 {
        font-size: 14px;
    }

    a {
        font-size: 20px;
    }
    h2{
        font-size:14px;
    }

    .homeMainImg {
        width: 100px;
    }
    .footer > p {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    

}